# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
- List popular languages for Data Science
- List commonly used libraries used by Data Scientists
- Provide a few examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:

1. Julia
2. Python
3. R
4. SQL
5. C++
6. Java
7. JavaScript
8. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. Scikit-Learn
5. Keras
6. Tersorflow
7. PyTorch

| Data Science Tools |
| ------------------- |
| JupyterLab |
| VS Code |
| GoogleColab |

### Below are a few examples of evaluating arithmetic expressions in Python

In [19]:
# This a simple arithmetic expression to mutiply then add integers.

(3*4)+5

17

In [21]:
# This will convert 200 minutes to hours by diving by diving by 60.

200/60

3.3333333333333335

## Author
Firstname Lastname